# Activity 1: Review of Session One

In [1]:
import findspark

# provide path to your spark directory directly
findspark.init("spark2")

import pyspark

In [3]:
sc = pyspark.SparkContext(appName="helloworld")

In [4]:
# let's test our setup by counting the number of nonempty lines in a text file
lines = sc.textFile('README.md')
lines_nonempty = lines.filter( lambda x: len(x) > 0 )
lines_nonempty.count()

169

## SparkContext

**So what version of Spark are we running?**

In [5]:
sc.version

'2.0.0'

**Let's now look more closely at the SparkContext object - *sc* - we just created.**

In [6]:
type(sc)

pyspark.context.SparkContext

**To get a list of attributes and methods accessible through the sc object, you can use the *dir()* function**

In [ ]:
dir(sc)

**You can use *help()* function to get an easier to read list of the attributes**

In [ ]:
help(sc)

# Activity 2: Exploring RDDs

**Let's first download sizable text files to play with.**

In [7]:
%%bash
wget "https://en.wikipedia.org/wiki/Python_(programming_language)" #Python Wikipedia Page

--2017-04-09 06:53:11--  https://en.wikipedia.org/wiki/Python_(programming_language)
Resolving en.wikipedia.org... 91.198.174.192, 2620:0:862:ed1a::1
Connecting to en.wikipedia.org|91.198.174.192|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 338014 (330K) [text/html]
Saving to: ‘Python_(programming_language)’

     0K .......... .......... .......... .......... .......... 15%  143K 2s
    50K .......... .......... .......... .......... .......... 30%  323K 1s
   100K .......... .......... .......... .......... .......... 45%  336K 1s
   150K .......... .......... .......... .......... .......... 60%  127K 1s
   200K .......... .......... .......... .......... .......... 75% 26.1M 0s
   250K .......... .......... .......... .......... .......... 90%  284K 0s
   300K .......... .......... ..........                      100%  350K=1.3s

2017-04-09 06:53:14 (252 KB/s) - ‘Python_(programming_language)’ saved [338014/338014]

In [8]:
%%bash
ls

Python_(programming_language)
README.md
Slides
Spark_Activities_01_Basics.ipynb
Spark_Activities_02_Transformations_and_Actions.ipynb
Spark_Activities_04_Review.ipynb
Spark_Activities_05_Spark_SQL_DataFrames.ipynb
Spark_Activities_06_Titanic.ipynb
data
environment.yml
meta_windows_patch.yml
ontime
reading_list.md
spark2

In [9]:
%%bash
mv 'Python_(programming_language)' python_wiki

In [10]:
%%bash
ls

README.md
Slides
Spark_Activities_01_Basics.ipynb
Spark_Activities_02_Transformations_and_Actions.ipynb
Spark_Activities_04_Review.ipynb
Spark_Activities_05_Spark_SQL_DataFrames.ipynb
Spark_Activities_06_Titanic.ipynb
data
environment.yml
meta_windows_patch.yml
ontime
python_wiki
reading_list.md
spark2

**Let's now create an RDD out of the lines using the *textFile()* function.**

In [11]:
help(sc.textFile)

Help on method textFile in module pyspark.context:

textFile(name, minPartitions=None, use_unicode=True) method of pyspark.context.SparkContext instance
    Read a text file from HDFS, a local file system (available on all
    nodes), or any Hadoop-supported file system URI, and return it as an
    RDD of Strings.

    If use_unicode is False, the strings will be kept as `str` (encoding
    as `utf-8`), which is faster and smaller than unicode. (Added in
    Spark 1.2)

    >>> path = os.path.join(tempdir, "sample-text.txt")
    >>> with open(path, "w") as testFile:
    ...    _ = testFile.write("Hello world!")
    >>> textFile = sc.textFile(path)
    >>> textFile.collect()
    ['Hello world!']

** *textFile()* splits the string read from the file into constituent lines (split by the newline character).**

In [12]:
lines = sc.textFile("python_wiki")

**How do we inspect *lines*?**

In [13]:
print(lines)

python_wiki MapPartitionsRDD[4] at textFile at NativeMethodAccessorImpl.java:-2

In [14]:
lines.first()

'<!DOCTYPE html>'

In [15]:
lines.take(5)

['<!DOCTYPE html>',
 '<html class="client-nojs" lang="en" dir="ltr">',
 '<head>',
 '<meta charset="UTF-8"/>',
 '<title>Python (programming language) - Wikipedia</title>']

# Activity 3: Transformations

## map()

**Square the numbers**

In [16]:
nums = sc.parallelize([1, 2, 3, 4])
squared = nums.map(lambda num: num**2)
squared.collect()

[1, 4, 9, 16]

## flatMap()

In [17]:
lines = sc.parallelize(["hello world", "hi"])
words = lines.map(lambda line: line.split(" "))
words.collect()

[['hello', 'world'], ['hi']]

In [18]:
lines = sc.parallelize(["hello world", "hi"])
words = lines.flatMap(lambda line: line.split(" "))
words.collect()

['hello', 'world', 'hi']

# Set Operations

In [20]:
set1 = sc.parallelize(["coffee", "coffee", "panda", "monkey", "tea"])
set2 = sc.parallelize(["coffee", "money", "kitty"])

### distinct()

In [21]:
set1.distinct().collect()

['panda', 'coffee', 'tea', 'monkey']

### union()

In [22]:
set1.union(set2).collect()

['coffee', 'coffee', 'panda', 'monkey', 'tea', 'coffee', 'money', 'kitty']

In [23]:
set2.union(set1).collect()

['coffee', 'money', 'kitty', 'coffee', 'coffee', 'panda', 'monkey', 'tea']

### intersection()

In [24]:
set1.intersection(set2).collect()

['coffee']

### subtract()

In [25]:
set1.subtract(set2).collect()

['panda', 'tea', 'monkey']

In [26]:
set2.subtract(set1).collect()

['money', 'kitty']

## filter()

In [27]:
inputRDD = sc.parallelize(["message:", "error #523", 
                           "cause: seg fault detected", 
                           "please check you are not using windows"])
errorsRDD = inputRDD.filter(lambda x: "error" in x)
errorsRDD.collect()

['error #523']

# Activity 4: Actions

## reduce()

In [28]:
nums = sc.parallelize([1, 2, 3, 4])
nums.reduce(lambda x, y: x + y)

10

In [29]:
squared = nums.map(lambda num: num**2).reduce(lambda x, y: x + y)
squared

30

## collect()

**reduce() already collects**

In [30]:
nums.map(lambda num: num**2).reduce(lambda x, y: x + y).collect()

AttributeError: 'int' object has no attribute 'collect'

## first()

In [31]:
nums.map(lambda num: num**2).first()

1

## take()

In [32]:
nums.map(lambda num: num**2).take(3)

[1, 4, 9]

# Activity 5: Numeric RDD Operations

## stats()

In [33]:
nums.stats()

(count: 4, mean: 2.5, stdev: 1.11803398875, max: 4.0, min: 1.0)

## max()

In [34]:
nums.max()

4

## min()

In [35]:
nums.min()

1

## mean()

In [36]:
nums.mean()

2.5

# stdev()

In [37]:
nums.stdev()

1.1180339887498949

# Activity 6: Exercise

* Create a Python collection of 10,000 integers
* Create a Spark RDD from that collection
* Subtract one from each value using map
* Perform action collect to view results
* Perform action count to view counts
* Apply transformation filter (select only even numbers) and view results with collect

In [109]:
data = range(1, 10001)
len(data)

10000

In [103]:
data

range(1, 10001)

Note: Discuss xrange (Py2) vs range (Py3)

In [110]:
data = sc.parallelize(data, 8)
data.getNumPartitions()

8

In [111]:
data

PythonRDD[146] at RDD at PythonRDD.scala:48

In [105]:
def sub(value):
    return (value - 1)

data_1 = data.map(sub)

# Let's see the RDD transformation hierarchy
print(data_1.toDebugString())

b'(8) PythonRDD[144] at RDD at PythonRDD.scala:48 []\n |  ParallelCollectionRDD[143] at parallelize at PythonRDD.scala:475 []'

In [106]:
data_1.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [83]:
data_1.count()

10000

In [85]:
data_1.filter(lambda x: x%2 == 0).take(5)

[0, 2, 4, 6, 8]

## More Actions

In [86]:
data_1.first()

0

In [87]:
data_1.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
data_1.takeOrdered(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
data_1.top(10)

[9999, 9998, 9997, 9996, 9995, 9994, 9993, 9992, 9991, 9990]

* The key advantage of using takeOrdered() instead of first() or take() is that takeOrdered() returns a deterministic result, while the other two actions may return differing results, depending on the number of partions or execution environment
* takeOrdered() returns the list sorted in ascending order. The top() action is similar to takeOrdered() except that it returns the list in descending order

In [92]:
sc.parallelize([3, 2, 1, 4, 5, 7, 3, 9, 2]).take(3)

[3, 2, 1]

In [112]:
sc.parallelize([3, 2, 1, 4, 5, 7, 3, 9, 2]).takeOrdered(3)

[1, 2, 2]

# Activity 7

#### ** `groupByKey` and `reduceByKey` **
#### Let's investigate the additional transformations: [groupByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.groupByKey) and [reduceByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.reduceByKey).

#### Both of these transformations operate on pair RDDs.  A pair RDD is an RDD where each element is a pair tuple (key, value).  For example, `sc.parallelize([('a', 1), ('a', 2), ('b', 1)])` would create a pair RDD where the keys are 'a', 'a', 'b' and the values are 1, 2, 1.
#### The `reduceByKey()` transformation gathers together pairs that have the same key and applies a function to two associated values at a time. `reduceByKey()` operates by applying the function first within each partition on a per-key basis and then across the partitions.

#### While both the `groupByKey()` and `reduceByKey()` transformations can often be used to solve the same problem and will produce the same answer, the `reduceByKey()` transformation works much better for large distributed datasets. This is because Spark knows it can combine output with a common key on each partition *before* shuffling (redistributing) the data across nodes.  Only use `groupByKey()` if the operation would not benefit from reducing the data before the shuffle occurs.
#### Look at the diagram below to understand how `reduceByKey` works.  Notice how pairs on the same machine with the same key are combined (by using the lamdba function passed into reduceByKey) before the data is shuffled. Then the lamdba function is called again to reduce all the values from each partition to produce one final result.
![reduceByKey() figure](http://spark-mooc.github.io/web-assets/images/reduce_by.png)
#### On the other hand, when using the `groupByKey()` transformation - all the key-value pairs are shuffled around, causing a lot of unnecessary data to being transferred over the network.
#### To determine which machine to shuffle a pair to, Spark calls a partitioning function on the key of the pair. Spark spills data to disk when there is more data shuffled onto a single executor machine than can fit in memory. However, it flushes out the data to disk one key at a time, so if a single key has more key-value pairs than can fit in memory an out of memory exception occurs. This will be more gracefully handled in a later release of Spark so that the job can still proceed, but should still be avoided.  When Spark needs to spill to disk, performance is severely impacted.
![groupByKey() figure](http://spark-mooc.github.io/web-assets/images/group_by.png)
#### As your dataset grows, the difference in the amount of data that needs to be shuffled, between the `reduceByKey()` and `groupByKey()` transformations, becomes increasingly exaggerated.
#### Here are more transformations to prefer over `groupByKey()`:
  + #### [combineByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.combineByKey) can be used when you are combining elements but your return type differs from your input value type.
  + #### [foldByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.foldByKey) merges the values for each key using an associative function and a neutral "zero value".
#### Now let's go through a simple `groupByKey()` and `reduceByKey()` example.

In [133]:
pairRDD = sc.parallelize([('a', 1), ('a', 2), ('b', 1)])

# mapValues only used to improve format for printing
pairRDD.groupByKey().mapValues(lambda x: list(x)).collect()

[('b', [1]), ('a', [1, 2])]

In [129]:
# Different ways to sum by key
pairRDD.groupByKey().map(lambda k: (k[0], sum(k[1]))).collect()

[('b', 1), ('a', 3)]

In [119]:
# Using mapValues, which is recommended when they key doesn't change
print(pairRDD.groupByKey().mapValues(lambda x: sum(x)).collect())

[('b', 1), ('a', 3)]

In [121]:
def add(x, y):
    return(x + y)

# reduceByKey is more efficient / scalable
print(pairRDD.reduceByKey(add).collect())

[('b', 1), ('a', 3)]